<div class="container">
    <div class="flex justify-center">
        <div class="w-full">
            <ul>
                <li class="title mt-6">Name: {{user.name}}</li>
            </ul>
        </div>
    </div>
</div>

<section class= "container card-container">
  <h2 class= "title is-3 mt-6">Your Recipes</h2>
  <ol>
    {{#each recipes as |recipe|}}
    <ul>
      <article class="card mt-6">
    <div>
       <a class= "btn mt-2 create-txt" href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </div>
    <div class="card-content">
        <strong class= "mt-2">Posted by {{user.name}} on {{format_date recipe.created_at}}</strong>
    </div>
    <div class="card-image">
      <img src="{{recipe.image}}">
    </div>
      {{!-- <a href="/dashboard/edit/{{recipe.id}}" class="edit-recipe">Edit recipe</a> --}}
      </article>
    </ul>
    {{/each}}
  </ol>
</section>


<div>
    <button class= "btn" type="submit"><a href="/api/recipe/add" class="create-txt">Create New Recipe</a></button>
</div>

       

