<div class="container">
    <div class="flex justify-center">
        <div class="w-full md:w-1/2">
            <h2>Your Accout: <span class="member-name">{{user.name}}</span></h2>
            <p>Your details:</p>
            <ul>
                <li>ID: {{user.id}}</li>
                <li>Name: {{user.name}}</li>
                <li>Email: {{user.email}}</li>
                <li>Account Creation: {{user.createdAt}}</li>
            </ul>
        </div>
    </div>
</div>

{{#if recipes.length}}
<section>
  <h2>Your Recipes</h2>
  <ol>
    {{#each recipes as |recipe|}}
    <ul>
      <article class="recipe">
    <div class="recipe-name">
       <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </div>
    <div class="meta">
        <strong>Posted by {{user.name}} on {{format_date created_at}}</strong>
    </div>
    </article>
      <a href="/dashboard/edit/{{recipe.id}}" class="edit-recipe">Edit recipe</a>
    </ul>
    {{/each}}
  </ol>
</section>
{{/if}}

<div>
    <button type="submit"><a href="/api/recipe/add" class="create-btn">Create New Recipe</a></button>
</div>

