<div class="container">
  <div class="flex justify-center">
    <div class="w-full">
      <ul>
        <li class="title mt-6">Name: {{user.name}}</li>
      </ul>
    </div>
  </div>
</div>

<section class="container">
  <h2 class="title mt-6">Your Recipes</h2>
  <div class="columns">
    {{#each recipes as |recipe|}}

    <a class="card column" href="/recipe/{{recipe.id}}">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{recipe.image}}" alt="{{recipe.name}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{user.name}}</p>
            <p class="subtitle is-6">something</p>
          </div>
        </div>

        <div class="content">
          <h2>{{recipe.name}}</h2>
          <p>{{recipe.description}}</p>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </a>


    {{/each}}
  </div>
</section>


<div>
  <button class="btn" type="submit"><a href="/api/recipe/add" class="create-txt">Create New Recipe</a></button>
</div>