<div class="recipe-container">
  <div class="card-header">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3"> {{recipe.image}}
          <img src="https://via.placeholder.com/1280x260.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{recipe.name}}</p>
            <p class="subtitle is-6">{{recipe.description}}</p>
            <p class="subtitle is-6">{{recipe.url}}</p>
            <p class="subtitle is-6">{{recipe.serving_size}}</p>
            <p class="subtitle is-6">{{recipe.cook_time}}</p>
            <p class="subtitle is-6">{{recipe.ingredients}}</p>
          </div>
        </div>
        
        <!-- METHOD -->
        <div class="content">{{recipe.instructions}}
          
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>